<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
		<h1>HandleBar header</h1>
		<ul>
			<li>nav1</li>
			<li>nav2</li>
			<li>nav3</li>
		</ul>
	</header>
	{{{body}}}
	<footer><h3>Footer</h3></footer>
	
</body>
</html>